*{
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
	margin: 5px;
	border-radius: 20px;
	background: #eee;
}

header{
	padding: 10px;
	text-align: center;
	display: block;
	position: relative;
}

.title{
	font-size: 3rem;
	font-weight: bold;
}

.subtitle{
	font-size: 1.1rem;
	font-weight: 100;
} 

.img-div{
	box-shadow: 5px 5px #ddd;
	margin: 50px;
	border-radius: 20px;
	padding: 10px;
	background: white;
}

.image{
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
    height: auto;
}

.img-caption{
	margin-inline-start: 10px;
	margin-inline-end: 10px;
	padding: 5px;
	display: block;
	text-align: center;
	font-size: 1.1rem
}

.h3{
	text-align: center;
	font-size:2.3rem;
	padding: 15px;
}


.tribute-info{
	margin: 5px;
	padding: 10px;
}

.tribute-info ul{
	background: white;
	border-radius: 20px;
	box-shadow: 5px 5px #ddd;
}

.tribute-info ul li{
	padding: 20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quotes{
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: center;
}



.h4{
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.h4 .tribute-link{
	font-size: 1.5rem;
	color: black;
}

.h4 .tribute-link:hover{
	border: 2px solid black;
	border-radius: 5px;
}

.h4 .tribute-link:focus{
	color: rgb(23, 31, 54);
}

.h4 .tribute-link:visited{
	color: rgb(69, 1, 87);
}